.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.searchCarWrapperCardBtn,
.wrokProcessWrapPara,
.ourOffersTitle,
.popularDealsBox,
.userReviewsPara {
  animation: mttCtaPulse 2.5s infinite;
}
@keyframes mttCtaPulse {
  0% {
    box-shadow: 0 0 0 0 #333333;
  }

  to {
    box-shadow: 0 0 0 40px #333333;
  }
}
