:root {
  --bg-color-light: #f8fcff;
  --bg-color-white: #ffffff;
  --bg-gradient: linear-gradient(180deg, #ebf7ff 0%, #fdf5eb 100%);
}

[data-theme="dark"] {
  --bg-color-light: #121212;
  --bg-color-white: #121212;
  --bg-gradient: linear-gradient(180deg, #121212 0%, #121212 100%);
}

.wrokProcess,
.popularDeals,
.carRenter,
.rentDeals,
.workProcess,
.chooseUs {
  background-color: var(--bg-color-light);
}

.searchCar , .ourFeatures, .userReviews, .map{
  background-color: var(--bg-color-white);
}

.rentcarBanner {
  background: var(--bg-gradient);
}
