.contactUsWrapper{
    padding: 130px 0;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
.contactUsHeading{
    text-align: center;
    font-size: 40px;
    color: #242424;
}
.contactUsPara{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #242424;
}
.ContactUsBodyWrapper{
    max-width: 1169px;
    width: 100%;
    background:#ffffff;
    margin-top: 69px;
    padding: 10px;
    display: flex;
    column-gap: 30px;
    border: 2px solid #1572d3;
    border-radius: 8px;
}
.contactUsInfo{
    max-width: 491px;
    width: 100%;
    background-color:#1572d3;
    padding: 40px;
    border-radius: 10px;
}
.contactInfoHeading{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
}
.contactInfoPara{
    color: #FFFFFF;
    margin-top: 2px;
    font-size: 15px;
}
.contactInfoWrapper{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.contactInfoWrapperContent{
    display: flex;
    width: 100%;
    column-gap: 25px;
    align-items: start;
}
.infoPara{
    color: #FFFFFF;
    font-size: 15px;
}
.contactUsFormWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
    margin-top: 50px;
}
.inputBox{
    width: 185px;
    display: flex;
    flex-wrap: wrap;
}
.labelText{
    font-size: 15px;
    color: #8D8D8D;
}
.contactUsinputField{
    width: 100%;
    display: block;
    padding: 8px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #1572d3;
    margin-top: 5px;
}
.contactUsinputField::placeholder{
    font-size: 12px;
}
.messageField{
    width: 100%;
}
.sendButton{
    max-width: 214px;
    width: 100%;
    padding: 15px 48px;
    float: right;
    margin-top: 45px;
    outline: none;
    background: #1572d3;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid transparent;
}
.sendButton:hover{
    background-color: #FFFFFF;
    color: #1572d3;
    border: 1px solid #1572d3;

}